<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Upps!</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<nav class="navbar navbar-inverse ">
    <div class="container">
        <div id="navbar">
            <ul class="nav navbar-nav">
                <li><a href="/" th:href="@{/}">List</a></li>
                <li><a href="/add" th:href="@{/add}">Add Phone</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row row-content">
        <div class="col-xs-12">
            <p align="center">Upps, something wrong...</p>
        </div>
    </div>
</div>
</body>
</html>